html{
	margin:0;
	width:100%;
	height:100%;
	padding:0;
	overflow:hidden;
}
*{
	cursor:none !important;
}

body{
	margin:0;
}
h1{
	position: relative;
	left:2%;
	top:1vh;
	width:28vw;
	transform: rotate(-6deg);
	font-family: black;
	font-weight: bold;
	font-size:38px;
	margin-top:-5px;
	margin-bottom: -5vh;
	animation:  3s infinite;
	pointer-events: none;
}
h5{
	position:relative;
	font-size: 30px;
	font-family: 'Monsieur La Doulaise', cursive;
	left:8.5%;
	top:5vh;
	font-weight: normal;
	transform: rotate(3deg);
	margin-bottom:-8vh;
}

h2{
	width:25vw;
	transform: rotate(2deg);
	font-size: 1.65vh;
	font-family: sans-serif;
	font-weight: normal;
	pointer-events: none;
}
h3{
	position: relative;
	top:-2px;
	width:25vw;
	transform: rotate(-1deg);
	font-size: 1.65vh;
	font-family: sans-serif;
	font-weight: normal;
	pointer-events: none;
	
}
h4{
	position: relative;
	top:-2px;
	width:25vw;
	transform: rotate(-2deg);
	font-size: 1.65vh;
	font-family: sans-serif;
	font-weight: normal;
	pointer-events: none;
}
p{
	font-size:1.35vh;
	font-family: sans-serif;
	cursor: pointer;

}
p:hover{
/*	font-family: serif;*/
	/*font-variant: small-caps;*/
	text-decoration: underline;
	font-weight: bold;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	color:white;

}
.cursor{
	position: absolute;
    z-index: 7;
    pointer-events: none;
    left:-100%;
    transform: translate(-35%,-5%);
}
.cursor img{
	width:3vw;
/*	animation:cursor 3s infinite;*/
}
#link{
	position: fixed;
	left:5%;
	top:40vh;
	transform: translate(-50%);
	border-style: solid 1px black;
	color:black;
	text-decoration: none;
	font-family: serif;
	font-size:3vw; 
	font-weight: normal;
	animation: pimple2 2s infinite;

}
#link:hover{
	font-family: sans-serif;
	font-variant: small-caps;
	 text-decoration: underline;


}
.picture{
	position:fixed;
/*	top:5vw;
	left:30vw;*/
	top:50%;
	left:50%;
	transform: translate(-40%,-50%);

}
.pic1{
	height:40vw;
	animation: mymove 2s infinite linear;

}
.pic2{
	height:40vw;
	animation: mymovee 2s infinite linear;

}
.pic3{
	height:40vw;
	animation: mymoveee 2s infinite linear;

}
.pic4{
	height:40vw;
	animation: mymoveeee 2s infinite linear;

}


.menu{
	position: relative;
	left:2%;
	top:8.5vh;
}
.things{
	position: absolute;
	right:2.5%;
	top:50%;
	transform:translate(0,-52%);
	/*transform:translate(-50%,0%);*/
	width:76%;
}
.img1{
	animation: none;
	cursor: pointer;
	transition: 0.3s;
}
.img1:hover{
	/*animation: mymove 2s infinite linear;*/
	transform: skew(20deg, 10deg);

}
.img2{
	animation: none;
	cursor: pointer;
	transition: 0.3s;
}
.img2:hover{
	/*animation: mymovee 2s infinite linear;*/
	transform: skew(10deg, 10deg);
}
.img3{
	animation: none;
	cursor: pointer;
	transition: 0.3s;
}
.img3:hover{
	/*animation: mymoveee 2s infinite linear;*/
	transform: skew(30deg,-10deg);
}
.img4{
	animation: none;
	cursor: pointer;
	transition:0.3s;
}
.img4:hover{
	/*animation: mymoveeee 2s infinite linear;*/
	transform: skew(-40deg,-5deg);
}
#but100{
	width:35vw;
	animation: none;
	cursor: pointer;
	transition:0.3s;
}
#but100:hover{
/*	animation: mymoveeeee 3s infinite linear;*/
	transform:skew(-20deg,-5deg);
}

button{
	position:relative;
	border:none;
	outline: none;
	transition: 0.5s;
	background:none;
}
.buttonn{
	display: block;
	margin-top:-22px;
}

.things img{
	height:8.5vw;
	margin:1%;
}
#il1{
	position:relative;
	width:75vw;
	min-width:380px;
	left:50%;
	transform: translate(-50%);
	outline: none;
	margin-top:7vh;
	margin-bottom:7vh; 
}
#il2{
	position:relative;
	width:75vw;
	min-width:380px;
	left:50%;
	transform: translate(-50%);
	outline: none;
	margin-top:7vh;
	margin-bottom:7vh;
}
#il3{

	position:absolute;
	height:75vh;
	min-width:380px;
	top:40%;
	left:50%;
	transform: translate(-50%,-50%);
	outline: none;
	margin-top:7vh;
	margin-bottom:7vh; 
}


#w2{
	position:relative;
	width:70%;
	height:70%;
	left:50%;
	transform: translate(-50%);
	outline: none;
	margin-top:7vh;
	margin-bottom:7vh; 

}
#calen{
	position:relative;
	left:50%;
	transform: translate(-50%);
	width:65vw;
	margin-top:7vh;
	margin-bottom:7vh;
}

#w1{
	/*box-shadow: 0px 0px 35px 6px black;*/
	position: absolute;
	left:50%;
	width:70%;
	height:70%;
	transform: translate(-50%);
	margin-top:7vh;
	margin-bottom:7vh;
}

.close{
	position:sticky;
	width:2vw;
	height:2vw;
	font-size:50px;
	left:3%;
	top:3vh;
	z-index: 10;
	color:black;
	transition: 0.25s;
	text-align: center;
	font-family: sans-serif;
	cursor: pointer;
	font-weight: normal;
}
.close:hover{
	color:grey;
	font-family: sans-serif;
	
}
.a{
	position:absolute;
	top:200px;
	left:200px;
/*	animation:ham 2s infinite;*/
}
.a:hover{
	animation:pimple 1s;
}
.a iframe{
  width:12vw;
  height:12vw;
  min-width:150px;
  min-height:150px;
  pointer-events: none;
}

#treasure{
	position: absolute;
	bottom:-10%;
	right:0%;
	width:25vw;
}

/*.close:active{
	top:3vh;
}*/

@keyframes mymove {
  from {transform:rotate3d(0,0,0,0deg);}
  to {transform:rotate3d(1,0.3,0.3,360deg);}
}
@keyframes mymovee {
  from {transform:rotate3d(0,0,0,0deg);}
  to {transform:rotate3d(0.3,1,0.3,360deg);}
}
@keyframes mymoveee {
  from {transform:rotate3d(0,0,0,0deg);}
  to {transform:rotate3d(-0.5,-0.2,-0.2,360deg);}
}
@keyframes mymoveeee {
  from {transform:rotate3d(0,0,0,0deg);}
  to {transform:rotate3d(-1,-0.5,-0.2,360deg);}
}
@keyframes mymoveeeee {
  from {transform:rotate3d(0,0,0,0deg);}
  to {transform:rotate3d(1,0.1,0,360deg);}
}
@-webkit-keyframes modal {
  0%   {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes pimple {
  0%   {transform: rotate(0deg);}

  100% {transform: rotate(360deg);}
}
@-webkit-keyframes pimple2 {
  0%   {transform: rotate(-20deg);}
  50%   {transform: rotate(20deg);}
  100% {transform: rotate(-20deg);}
}
@-webkit-keyframes color {
  0%   {color:red;}
  20%   {color:blue;}
  40%{color:darkorange;}
  60%{color:fuchsia;}
  80% {color:black;}
  100% {color:red;}
}


.modal{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(300,300,300,0.8);
	display: none;
	animation:modal 1s;
	z-index: 5;
	overflow-y: scroll;
	animation: modal 0.5s;
}
